/* font-weights */
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

/* font-sizes */

$font-size-12: 12px;

/* line-heights */
$line-height-68: 68px;





